---
import BlogPost from '@components/BlogPost.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const allPosts = await Astro.glob('@pages/posts/*.md');
const pageTitle = '私の Astro 学習ブログ';
---

<BaseLayout pageTitle={pageTitle}>
    <!-- slot in -->
    <h2>私の素晴らしいブログのサブタイトル</h2>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
