---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import type { Props } from '@astrojs/starlight/props';
---

<a href="mailto:houston@example.com">メールしてね</a>
<Default {...Astro.props}><slot /></Default>
