---
const { chart } = Astro.props;
---

<div class="mermaid">
    {chart}
</div>

<script>
    import mermaid from 'mermaid';
    mermaid.initialize({ startOnLoad: true });
</script>

<style>
    .mermaid {
        margin-left: auto;
        margin-right: auto;
    }
</style>
