---
import ThemeReactMermaid from '@components/client/ThemeReactMermaid';
const { chart } = Astro.props;
---

<ThemeReactMermaid
    client:only="preact"
    src={chart}
>
    <div slot="fallback">Loading...</div>
</ThemeReactMermaid >

<style>
    /* .mermaid {
        margin-left: auto;
        margin-right: auto;
    } */
</style>
