---
// import { Markdown } from 'astro/components';
// import { Markdown } from '@astrojs/markdown-component';
// const { text } = Astro.props;
// import { parseMarkdown } from 'astro/runtime/server';
// const { text } = Astro.props;
// const { code } = await parseMarkdown(text);
// import { marked } from 'marked';
// const { text } = Astro.props;
// const htmlContent = marked.parse(text);
---

<!-- <Fragment set:html={htmlContent} /> -->
<!-- <div>
    <slot/>
</div> -->
<!-- <MyComponent {...props}/> -->

<p class="bg-gray-400">
    llll
</p>
