---
import { sanitizeAndDecodeHtml } from '@utils/htmlUtils';

interface Props {
    columns: string[];
    data: string[][];
    align?: 'left' | 'center' | 'right';
    caption?: string;
}

const { columns, data, align = 'left', caption } = Astro.props as Props;

// data å†…ã®ãã‚Œãžã‚Œã®ãƒ¬ã‚³ãƒ¼ãƒ‰(è¦ç´ ã§ã‚ã‚‹)ã®é…åˆ—ã®è¦ç´ æ•° ã¨ column ã®è¦ç´ æ•°ãŒä¸€è‡´ã™ã‚‹ã‹ç¢ºèªã™ã‚‹å‡¦ç†ã‚’å…¥ã‚Œã‚‹
// ãƒ‡ãƒ¼ã‚¿ã®æ¤œè¨¼: å„è¡Œã®è¦ç´ æ•°ãŒåˆ—ã®æ•°ã¨ä¸€è‡´ã™ã‚‹ã‹
const isValid = data.every(row => row.length === columns.length);

if (!isValid) {
    throw new Error('Each row in data must have the same number of elements as columns.');
}

// data.map(row => row.map(cell => console.log(sanitizeAndDecodeHtml(cell))));
---
<div class="not-content">
    <!-- not-content ã§ width: 100% ã‚’æœ‰åŠ¹åŒ–ã§ãã‚‹ -->
    <table class="
        w-full
        overflow-auto
        text-base
        border-spacing-0
        border
        border-t-gray-400/[.10]
        border-r-gray-400/[.10]
        border-b-gray-400/[.10]
        border-l-gray-400/[.10]
        rounded-md
        shadow-sbump
        "
        style={{
            // height: '240px',
            // boxShadow: 'var(--inset-shadow)',
            textAlign: align
        }}

    >
        {typeof caption === 'string' &&
            <caption
                set:html={sanitizeAndDecodeHtml(caption)}
                class="caption-top py-2"
            />
        }
        <thead class="">
        <!-- <thead class="after:content-[''] after:p-1"> -->
            <tr
                class=""
            >
                {columns.map((column, index) => (
                    <th
                        set:html={sanitizeAndDecodeHtml(column)}
                        class={`
                            text-white
                            px-2
                            py-1
                            bg-gray-600/50
                            border
                            border-gray-500
                            first:rounded-tl-md
                            last:rounded-tr-md
                            shadow-xs-distinct
                        `}
                        style="
                            text-shadow: var(--text-shadow);
                        "
                    />
                ))}
            </tr>
        </thead>
        <tbody>
            {data.map((row, rowIndex) => (
                <tr class="
                    hover:bg-accent-800
                    hover:text-white
                    last:rounded-bl-md
                    last:rounded-br-md
                ">
                    {row.map((cell, cellIndex) => (
                        <td
                            set:html={sanitizeAndDecodeHtml(cell)}
                            class={`
                                p-2
                                border
                                border-gray-500
                                first:border-l-0
                                shadow-s-depressed
                                ${rowIndex === data.length - 1 && cellIndex === row.length - 1 ? 'rounded-br-md' : ''}
                            `}
                        />
                    ))}
                </tr>
            ))}
        </tbody>
    </table>

    <!-- <h1 class="after:content-['ðŸ‘‹ðŸ¼']">
  Hello world!
</h1> -->

</div>
