---
import { sanitizeAndDecodeHtml } from '@utils/htmlUtils';

interface Props {
    columns: string[];
    data: string[][];
    align?: 'left' | 'center' | 'right';
    caption?: string;
}

const { columns, data, align = 'left', caption } = Astro.props as Props;

// data å†…ã®ãã‚Œãžã‚Œã®ãƒ¬ã‚³ãƒ¼ãƒ‰(è¦ç´ ã§ã‚ã‚‹)ã®é…åˆ—ã®è¦ç´ æ•° ã¨ column ã®è¦ç´ æ•°ãŒä¸€è‡´ã™ã‚‹ã‹ç¢ºèªã™ã‚‹å‡¦ç†ã‚’å…¥ã‚Œã‚‹
// ãƒ‡ãƒ¼ã‚¿ã®æ¤œè¨¼: å„è¡Œã®è¦ç´ æ•°ãŒåˆ—ã®æ•°ã¨ä¸€è‡´ã™ã‚‹ã‹
const isValid = data.every(row => row.length === columns.length);

if (!isValid) {
    throw new Error('Each row in data must have the same number of elements as columns.');
}

// data.map(row => row.map(cell => console.log(sanitizeAndDecodeHtml(cell))));
---
<div class="not-content">
    <!-- not-content ã§ width: 100% ã‚’æœ‰åŠ¹åŒ–ã§ãã‚‹ -->
    <table class="
            shadow-inner
            w-full
            overflow-auto
            p-2
            border
            border-solid
            border-t-gray-300/[.10]
            border-r-gray-300/[.10]
            border-b-gray-300/[.10]
            border-l-gray-300/[.10]
            rounded-md
            border-spacing-1
        "
        style={{
            height: '240px',
            boxShadow: 'var(--inset-shadow)',
            textAlign: align
        }}

    >
        {typeof caption === 'string' && <caption set:html={sanitizeAndDecodeHtml(caption)} class="caption-top" />}
        <thead class="">
        <!-- <thead class="after:content-[''] after:p-1"> -->
            <tr
                class=""
            >
                {columns.map((column, index) => (
                    <th
                        set:html={sanitizeAndDecodeHtml(column)}
                        class={`
                            text-accent-200
                            p-2
                            border-s-2
                            border-accent-200
                            border-dashed
                        `}
                        style="
                            border-bottom: 1px solid var(--sl-color-gray-3);
                        "
                    />
                ))}
            </tr>
        </thead>
        <tbody>
            {data.map((row, rowIndex) => (
                <tr class="divide-x-2">
                    {row.map((cell, cellIndex) => (
                        <td
                            set:html={sanitizeAndDecodeHtml(cell)}
                            class={`
                                p-2
                                border-gray-300/[.10]
                            `}
                        />
                    ))}
                </tr>
            ))}
        </tbody>
    </table>

    <!-- <h1 class="after:content-['ðŸ‘‹ðŸ¼']">
  Hello world!
</h1> -->

</div>
